/* ==========================================================================
   # LAYOUTS - Toolbar
   ========================================================================== */

/*
 * Toolbar containing 2 panels, left- and right-aligned respectively
 */
.l-toolbar {
  display: flex;
  justify-content: space-between;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__right {
    justify-content: flex-end;
  }
}
