/* ==========================================================================
   # OBJECTS - MENUS
   ========================================================================== */

/*
 * Controls appearance of Menus.
 * Normally built with <ul> and <a> tags, apply flexbox to support others.
 */
.o-menu {
  list-style: none;
  display: flex;
  /*
   * Vertical menu
   */
  &--v {
    flex-direction: column;
  }
  /*
   * Horizontal menu
   */
  &--h {
    align-items: center;

    & .menu-item {
      padding: 0 0 0 $unit-padding-1;
    }
    & .menu-item:last-child {
      padding: 0 $unit-padding-1;
    }
  }

  // child block - item
  & .menu-item__icon {
    font-family: '';
  }
  & .menu-item__text {
    text-decoration: none;
    cursor: pointer;
  }

  // color variations

  &--light {
    background-color: $color-light;
    & .menu-item__text {
      color: $color-dark;
    }
  }
  &--dark {
    background-color: $color-dark;
    & .menu-item__text {
      color: $color-light;
    }
  }
}
