/* ==========================================================================
   # SETTINGS - COLORS
   ========================================================================== */

$color-white: #ffffff !default;
$color-black: #000000 !default;

/*
 * Functional colors
 */
$color-primary: #36ace1 !default;
$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;

/*
 * Functional text colors
 */
$color-text-primary: #303133 !default;
$color-text-regular: #606266 !default;
$color-text-secondary: #909399 !default;
$color-text-placeholder: #c0c4cc !default;

$color-bg-placeholder: #eeeeee !default;

/*
 * Dark-to-light pallette for text and backgrounds
 */
$color-dark: #383838 !default;
$color-light: #f5f7fa !default;

$color-dark1: mix($color-dark, $color-light, 90%) !default;
$color-dark2: mix($color-dark, $color-light, 80%) !default;
$color-dark3: mix($color-dark, $color-light, 70%) !default;

$color-light3: mix($color-dark, $color-light, 30%) !default;
$color-light2: mix($color-dark, $color-light, 20%) !default;
$color-light1: mix($color-dark, $color-light, 10%) !default;
