/* ==========================================================================
   # TOOLS - TEXT SIZE MIXINS
   # Set up the list of available text sizes
   ========================================================================== */

/*
 * Text size for headings
 */
@mixin t1 {
  font-size: 24px;
  line-height: 1.25
}
@mixin t2 {
  font-size: 16px;
  line-height: 1.25
}
@mixin t3 {
  font-size: 14px;
  line-height: 1.25
}

/*
 * Normal text size
 */
@mixin tn {
  font-size: 14px;
}
